#bookingPreviewPage
{
  color: white;
    background-color: black;
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .square-box {
    width: 400px;
    height: 100px;
    display: flex;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  
  }
  
  img {
    width: 30%;
    height: auto;
  }

  #room-details,
  #room-members {
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
  }
.text-container {
  flex: 1;
  padding: 5px;
}

  #person-type
{
  width: auto;
  color:aqua;
  font-weight: bolder;
  border:2px solid aqua;
}
 
  #terms-condition
  {
    display: flex;
 justify-content: center;
}

#final-button 
{
display:flex ;
justify-content: center;

}

#final-button button
{
  width:200px;
  margin: 10px

}

#txtcolor
{
  color: #666;
}

.border-primary {
  border-color:purple;
  color: purple;
}

.initials {
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 37px;
  background-color: #bb02db;
  color: white;
  border-radius: 100px;
  text-transform: uppercase;
}

#person-type {
  border-radius: 10px;
  width: fit-content;
}

