<div class="" id="bookingPreviewPage">

  <h2 class="text-center">
    Booking Preview
  </h2>

  <div class="justify-content-center my-5">
    <div class="container1">
      <div class="square-box">
        <img src="assets/Image/Resort_image.jpg" alt="Resort Image">
        <div class="text-container mx-1">
          <div class="resort-name fw-bold pb-1">{{ resortname }}</div>
          <div class="date-range" id="txtcolor">From: {{ check_in_date }} - To: {{check_out_date}}</div>
          <div class="total-days" id="txtcolor">Total Days: {{ totalDays }}, Total Nights: {{ totalNights }}</div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="mx-5">
    <h4>
      Room details ( {{selectedRooms}} )
    </h4>
  </div>


  <div id="room-details" class="container rounded my-3">
    <div *ngFor="let room of rooms;" class="row w-0 m-3 border-bottom p-3">
      <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="iconbackground">
        <i class="{{room.icon}}"></i>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
        <div class="fw-bold">{{ room.name }}</div>
        <div>1 Balcony</div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="iconbackground">
        <div class="text-center fw-bold">01</div>
      </div>
    </div>
  </div>
  <div class="mx-5">
    <h4>
      Person details (3)
    </h4>

  </div>


  <div id="room-members" class="container rounded my-3">
    <div *ngFor="let member of total_members" class="row border-bottom p-3 ">

      <div class="icon col-md-4 col-lg-4 col-sm-4 text-center">
        <i class="{{member.profile}} fs-1 "></i>
      </div>

      <div class=" col-md-6 col-lg-6 col-sm-6">
        <div class="name">
          <div class="fw-bold">{{member.name }}</div>
        </div>

        <div class="row">
          <div class=" col-md-6 ">
            <div class="fw-light">{{member.contact }}</div>
          </div>

          <div class=" col-md-6 col-lg-6 col-sm-6 border rounded-pill m-1" id="person-type">
            <div class="fw-light">{{member.type }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-2" id="terms-condition">
      <input type="checkbox" [(ngModel)]="termsChecked" (change)="toggleSubmitButton()" />
    </div>

    <div class="col-md-10">
      I agree <span class="text-primary">Terms</span> and <span class="text-primary">Conditions</span>
    </div>
  </div>

  <div class="row p-4" id="final-button">
    <button class="btn btn-light col-md-6" (click)="edit()">
      EDIT
    </button>

    <button class="btn btn-success col-md-6" [disabled]="!termsChecked" (click)="submit()">
      SUBMIT
    </button>
  </div>

</div>