<div class="mx-1" id="bookingPreviewPage">

  <h2 class="text-center pt-4">
    Booking Preview
  </h2>

  <div class="justify-content-center my-5">
    <div class="container1">
      <div class="square-box">
        <img src="{{this.img}}" alt="Resort Image">
        <div class="text-container mx-1">
          <div class="resort-name fw-bold pb-1">{{ resortname }}</div>
          <div class="date-range" id="txtcolor">From: {{ booking_details.check_in_date | date:'dd/MM/yyyy' }} - To:
            {{booking_details.check_out_date |date:'dd/MM/yyyy'}}</div>
          <div class="total-days" id="txtcolor">Total Days: {{ booking_details.days }}, Total Nights: {{
            booking_details.nights }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-6 p-2">
      <h4>
        Room details ({{booking_details.totalSelectedRooms}})
      </h4>

      <div class="table-responsive rounded my-3" id="room-details">
        <table class="table">
          <tbody>
            <tr *ngFor="let room of bookedRoomsArray" class=" border-bottom p-3">
              <td>
                <div class="icon-background d-flex justify-content-center" id="iconbackground">
                  <i class="fa-solid fa-bed fa-2x check"></i>
                </div>
              </td>
              <td>
                <div class="fw-bold text-center">{{ room.name }}</div>
                <div class="text-center">{{ room.description }}</div>
              </td>
              <td>
                <div class="text-center fw-bold">{{ room.room_type_count }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


    <div class="col-md-6 p-2">
      <h4>
        Person details ({{ booking_details.members_count }})
      </h4>

      <div class="table-responsive rounded my-3" id="room-members">
        <table class="table">
          <tbody>
            <tr *ngFor="let guest of GuestEmployeeList" class="border-bottom p-3">
              <td>
                <div class="icon text-center">
                  <div class="initials"
                    [style.background-color]="getInitials(guest.first_name, guest.last_name).backgroundColor">
                    {{ getInitials(guest.first_name, guest.last_name).initials }}
                  </div>
                </div>
              </td>

              <td>
                <div class="fw-bold">{{ guest.first_name }} {{ guest.last_name }}</div>
                <div class="row">
                  <div class="col">
                    <div class="fw-light">{{ guest.phone_number }}</div>
                  </div>
                  <div class="col border" id="person-type">
                    <div class="fw-bold text-center" [style.color]="guest.guest_user_id ? 'purple' : ''">
                      {{ guest.guest_user_id ? 'Guest' : 'Employee' }}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>




  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  mt-3" id="terms-condition">
    <input type="checkbox" class="mx-3" [(ngModel)]="termsChecked" (change)="toggleSubmitButton()" />
    I agree <span class="text-primary mx-2"> Terms </span> and <span class="text-primary mx-2"> Conditions </span>
  </div>


  <div class="row" id="final-button">
    <button class="btn btn-light col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="edit()">
      EDIT
    </button>

    <button class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 btn btn-success" [disabled]="!termsChecked"
      (click)="submit()">
      SUBMIT
    </button>
  </div>

</div>