#bookingPreviewPage
{
  color: white;
    background-color: black;
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .square-box {
    width: 400px;
    height: 100px;
    display: flex;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  
  }
  
  img {
    width: 30%;
    height: auto;
  }

  #room-details
  {
    width: fit-content;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.text-container {
  flex: 1;
  padding: 10px;
}

  #person-type
{
  width: auto;
  color:aqua;
  font-weight: bolder;
  border:2px solid aqua;
}
  #room-members
  {
    width: max-content;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
  }

  #terms-condition
  {
  
    display: flex;
 justify-content: center;
}

#final-button 
{
display:flex ;
justify-content: center;

}

#final-button button
{
  width:200px;
  margin: 10px

}

#txtcolor
{
  color: #666;
}

.border-primary {
  border-color:purple;
  color: purple;
}
