<div class="container1">
    <div class="headcontainer">
        <div class="heading">
            <h3 class="text-center m-3">sign up</h3>
        </div>
    </div>

    <div class="my-3">
        <form [formGroup]="newuser" class="form">

            <div class="row mx-5 border rounded">

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 p-2" id="main-div">
                    <section id="FirstName" class="my-3"  [ngClass]="{ 'is-invalid': firstname?.invalid && firstname?.touched }">
                        <h2>FIRST NAME</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-user"[ngClass]="{ 'text-danger': firstname?.invalid && firstname?.touched }"></i></span>
                        <input type="text" id="Fname" formControlName="first_name">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="firstname?.invalid && firstname?.touched"></i>
                        </div>
                        <div *ngIf="firstname && firstname.invalid && firstname.touched" class="text-danger">
                            Enter a valid Firstname 
                        </div>

                    </section>

                    <section id="LastName" class="my-3" [ngClass]="{ 'is-invalid': lastName?.invalid && lastName?.touched }">
                        <h2>LAST NAME</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-user"
                                [ngClass]="{ 'text-danger': lastName?.invalid && lastName?.touched }"></i></span>
                        <input type="text" id="lname" formControlName="last_name">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="lastName?.invalid && lastName?.touched"></i>
                    </div>
                        <div *ngIf="lastName && lastName.invalid && lastName.touched" class="text-danger">
                            Enter a valid lastname
                        </div>
                    </section>


                    <section id="email" class="my-3"[ngClass]="{ 'is-invalid': claySys_email?.invalid && claySys_email?.touched }">
                        <h2>Claysys Email</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-regular fa-envelope"[ngClass]="{ 'text-danger': claySys_email?.invalid && claySys_email?.touched }"></i></span>
                        <input type="text" id="email" formControlName="claySys_email">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="claySys_email?.invalid && claySys_email?.touched"></i>
                            </div>
                        <div *ngIf="claySys_email && claySys_email.invalid && claySys_email.touched" class="text-danger">
                            Enter a valid claysysemail 
                        </div>
                    </section>

                    <section id="PhoneNumber" class="my-4" [ngClass]="{ 'is-invalid': PhoneNumber?.invalid && PhoneNumber?.touched }">
                        <h2>PHONE NUMBER</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-phone"[ngClass]="{ 'text-danger': PhoneNumber?.invalid && PhoneNumber?.touched }"></i></span>
                        <input type="text" id="Pnumber" formControlName="phone_number">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="PhoneNumber?.invalid && PhoneNumber?.touched"></i>
                            </div>
                        <div *ngIf="PhoneNumber && PhoneNumber.invalid && PhoneNumber.touched" class="text-danger">
                            Enter a valid Phonenumber 
                        </div>
                    </section>


                    <section id="Address" class="my-4"[ngClass]="{ 'is-invalid': Address?.invalid && Address?.touched }">
                        <h2>ADDRESS</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-location-dot"[ngClass]="{ 'text-danger': Address?.invalid && Address?.touched }"></i></span>
                        <input type="text" id="address" formControlName="address">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="Address?.invalid && Address?.touched"></i>
                            </div>
                        <div *ngIf="Address && Address.invalid && Address.touched" class="text-danger">
                            Enter a valid Address 
                        </div>
                    </section>



                    <section id="role" class="my-4"[ngClass]="{ 'is-invalid': role?.invalid && role?.touched }">
                        <h2>ROLE</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-regular fa-circle-user"[ngClass]="{ 'text-danger': role?.invalid && role?.touched }"></i></span>
                        <input type="text" id="role" formControlName="role">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="role?.invalid && role?.touched"></i>
                            </div>
                        
                        <div *ngIf="role && role.invalid && role.touched" class="text-danger">
                            Enter a valid role 
                        </div>
                    </section>

                    <section id="lead" class="my-4"[ngClass]="{ 'is-invalid': lead?.invalid && lead?.touched }">
                        <h2>LEAD</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-user-injured fa-md"[ngClass]="{ 'text-danger': lead?.invalid && lead?.touched }"></i></span>
                        <input type="text" id="lead" formControlName="lead">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="lead?.invalid && lead?.touched"></i>
                            </div>
                        <div *ngIf="lead && lead.invalid && lead.touched" class="text-danger">
                            Enter a valid lead 
                        </div>
                    </section>

                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 p-2" id="side-div">

                    <section id="empid" class="my-3"[ngClass]="{ 'is-invalid': employee_id?.invalid && employee_id?.touched }">
                        <h2>EMPLOYEE ID</h2>
                        <div class="input">
                        <span class="icon mx-1"> <i class="fa-solid fa-id-card"[ngClass]="{ 'text-danger': employee_id?.invalid && employee_id?.touched }"></i></span>
                        <input type="text" id="empid" formControlName="employee_id">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="employee_id?.invalid && employee_id?.touched"></i>
                        </div>
                        <div *ngIf="employee_id && employee_id.invalid && employee_id.touched" class="text-danger">
                            Enter a valid employeeid 
                        </div>
                    </section>

                    <section id="Age" class="my-3"[ngClass]="{ 'is-invalid': age?.invalid && age?.touched }">
                        <h2>AGE</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-regular fa-calendar"[ngClass]="{ 'text-danger': age?.invalid && age?.touched }"></i></span>
                        <input type="text" id="age" formControlName="age">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="age?.invalid && age?.touched"></i>
                        </div>
                        <div *ngIf="age && age.invalid && age.touched" class="text-danger">
                            Enter a valid age 
                        </div>
                    </section>

                    <section id="gender" class="my-3"[ngClass]="{ 'is-invalid': gender?.invalid && gender?.touched }">
                        <h2>Gender</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-user"[ngClass]="{ 'text-danger': gender?.invalid && gender?.touched }"></i></span>
                        <select id="gender" formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="gender?.invalid && gender?.touched"></i>
                    </div>
                    <div *ngIf="gender && gender.invalid && gender.touched" class="text-danger">
                        Enter a valid Gender
                    </div>
                    </section>

                    <section id="OfficialIdCardNo" class="my-4"[ngClass]="{ 'is-invalid': OfficialIdCardNo?.invalid && OfficialIdCardNo?.touched }">
                        <h2>OFFICIAL ID CARD NO</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-id-card"[ngClass]="{ 'text-danger': OfficialIdCardNo?.invalid && OfficialIdCardNo?.touched }"></i></span>
                        <input type="text" id="idcard" formControlName="official_id_card_no">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="OfficialIdCardNo?.invalid && OfficialIdCardNo?.touched"></i>
                        </div>
                        <div *ngIf="OfficialIdCardNo && OfficialIdCardNo.invalid && OfficialIdCardNo.touched" class="text-danger">
                            Enter a valid OfficialIdCardNo 
                        </div>
                    </section>

                    <section id="OfficialIdImageUrl" class="my-4"[ngClass]="{ 'is-invalid': official_id_image_url?.invalid && official_id_image_url?.touched }">
                        <h2>OFFICIAL ID IMAGE URL</h2>
                        <div class="input">
                            <span class="icon mx-1"><i class="fa-solid fa-link-slash"[ngClass]="{ 'text-danger': official_id_image_url?.invalid && official_id_image_url?.touched }"></i></span>
                            <input type="url" id="img" formControlName="official_id_image_url">
                            <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="official_id_image_url?.invalid && official_id_image_url?.touched"></i>
                            </div>
                            <div *ngIf="official_id_image_url && official_id_image_url.invalid && official_id_image_url.touched" class="text-danger">
                                Enter a valid url
                        </div>

                    </section>

                    <section id="idcard" class="my-4"[ngClass]="{ 'is-invalid': claysys_id_card_image_url?.invalid && claysys_id_card_image_url?.touched }">
                        <h2>ID IMAGE URL</h2>
                        <div class="input">
                        <div class="input-container">
                            <span class="icon mx-1"><i class="fa-solid fa-link"[ngClass]="{ 'text-danger': claysys_id_card_image_url?.invalid && claysys_id_card_image_url?.touched }"></i></span>
                            <input type="url" id="idimg" formControlName="claysys_id_card_image_url">
                            <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="claysys_id_card_image_url?.invalid && claysys_id_card_image_url?.touched"></i>
                            </div>
                            <div *ngIf="claysys_id_card_image_url && claysys_id_card_image_url.invalid && claysys_id_card_image_url.touched" class="text-danger">
                                Enter a valid url 
                            </div>
                        </div>
                    </section>


                    <section id="username" class="my-3"[ngClass]="{ 'is-invalid': username?.invalid && username?.touched }">
                        <h2>USER NAME</h2>
                        <div class="input">
                        <span class="icon mx-1"><i class="fa-solid fa-user"[ngClass]="{ 'text-danger': username?.invalid && username?.touched }"></i></span>
                        <input type="text" id="username" formControlName="username">
                        <i class="fa-solid fa-triangle-exclamation text-danger" *ngIf="username?.invalid && username?.touched"></i>
                        </div>
                        <div *ngIf="username && username.invalid && username.touched" class="text-danger">
                            Enter a valid username 
                        </div>
                    </section>

                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-success text-center m-2 " [disabled]="!newuser.valid"
                        (click)="register()">Sign up </button>
                    <button class="btn btn-success text-center m-2 " (click)="back()">Back </button>

                </div>

            </div>
        </form>


    </div>
</div>