<div class="container">

    <div class="text-center my-3">
        <h3>
            Resort details preview
        </h3>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <img class="card-img-top" src="{{ resort.image_urls }}" style="height: 200px; object-fit: cover;" alt="Resort Image">
            </div>
            <div class="col-md-6">
              <video controls autoplay  style="width: 100%; height: 200px;">
                <source src="{{ resort.video_urls }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class="card-body bg-black text-white">
            <h5 class="card-title text-center"><strong>{{ resort.name }}</strong></h5>
            <p class="card-text">{{ resort.description }}</p>
            <p class="card-text"><strong>Location:</strong> {{ resort.location }}</p>
            <p class="card-text"><strong>Amenities:</strong> {{ resort.amenities.join(', ') }}</p>
            <p class="card-text"><strong>Status:</strong> {{ resort.status }}</p>
            <p class="card-text"><strong>Coordinates:</strong> Latitude: {{ resort.coordinates.lat }}, Longitude: {{ resort.coordinates.long }}</p>
        
            <div class="d-flex justify-content-center">
              <table class="table-responsive table-bordered">
                <thead>
                  <tr>
                    <th class="text-center px-5">Room name</th>
                    <th class="text-center px-5">Number of Rooms</th>
                    <th class="text-center px-5">Availability</th>
                    <th class="text-center px-5">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let room of resort.categories">
                    <td  class="text-center ">{{ room.name }}</td>
                    <td  class="text-center px-5">{{ room.number_of_rooms }}</td>
                    <td  class="text-center ">{{ room.availability }}</td>
                    <td  class="text-center text-danger" (click)="removeRoom(room.room_type_id)"><i class="fa-regular fa-trash-can"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
    <div class="row justify-content-center my-3">
      <div class="col-md-6 text-center">
        <button class="btn btn-outline-primary mx-2" (click)="back()">Edit</button>
        <button class="btn btn-outline-success mx-2" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
  