section {
    border: 2px solid;
    border-radius: 10px;
    padding: 1em;
    width:300px;
    margin:auto;
   
  }
  
  section h2 {
    float: left;
   margin: -1.7em 0 0;
    padding: 0 .5em;
    background: #fff;
    font-size: 1em;
    font-weight: normal;
  }
  input[type="text"],
input[type="password"],
select,
input[type="url"] {
    border: none;
    outline: none;
    color: black;
    width: 90%;
}
.btn{
  width:fit-content;
}
.is-invalid {
  border: 1px solid red;
}


.input {
  position: relative;
}

.input .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input input,select {
  padding-left: 35px; 
}

.row
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.text-danger{
  text-align: center;
}