
<div class="resort-details-page">
  <div class="container1 ">
    <img src="{{img}}" alt="" style="height: 500px;" width="100%">
    <div class="container ">
      <div class="square-box">
        <p>View <br>Gallery</p>
        <div class="photo-container">
          <img src="assets/Image/Resort_image.jpg" alt="Image 1" style="height: 80px;">
          <img src="assets/Image/Resort_mainImage.jpeg" alt="Image 2" style="height: 80px;">
          <img src="{{img}}" alt="Image 3" style="height: 80px;">
          <img src="assets/Image/Resort_image.jpg" alt="Image 4" style="height: 80px;">
          <img src="assets/Image/Resort6th.jpg" alt="Image 4" style="height: 80px;">
          <img src="assets/Image/Resort4th.jpg" alt="Image 4" style="height: 80px;">
          <img src="assets/Image/Resort5th.jpg" alt="Image 4" style="height: 80px;">
          <img src="assets/Image/Resort3rd image.jpg" alt="Image 4" style="height: 80px;">

        </div>
      </div>
    </div>


  </div>

  <div class="background">
    <div class="row container2">
      <div class="textcontainer col-md-6 col-sm-12 justify-content-center">
        <h3 class="resortname">{{name}}</h3>
        <div class="starcontainer"><i class="fa-solid fa-star star"></i>
          <p class="reviewtext">4.8(1,230reviews)</p>
        </div>
        <div class="locationcontainer"><i class="fa-solid fa-location-dot location"></i>
          <p class="locationtext">{{location}},Kerala</p>
        </div>
      </div>

      <div class="mapcontainer col-md-6 d-flex col-sm-12 justify-content-center">
        <iframe allowfullscreen="" referrerpolicy="no-referrer-when-downgrade" [src]="generateGoogleMapsUrl()" id="google-map"></iframe>
    </div>
    
    
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xm-12 bedcontainer">
          <i class="fa-solid fa-bed fa-2xl bed"></i>
          <p class="txtbed">bed</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xm-12 bathcontainer">
          <i class="fa-solid fa-bath fa-2xl bath"></i>
          <p class="txtbath">bath</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xm-12 wificontainer">
          <i class="fa-solid fa-wifi fa-2xl wifi"></i>
          <p class="txtwifi">wifi</p>
        </div>
      </div>
    </div>

    <div class="overviewcontainer">
      <h3>Overview</h3>
      <p class="txtoverview mr-3">
        {{description}}
      </p>
    </div>


    <div class="highlights">
      <h3 class="headinghigh">Highlights</h3>
      <div class="row imagesforhighlights mx-3">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="montainimg">
            <img src="assets/Image/mountainimage-removebg-preview.png" height="50" width="50" alt="">
            <p class="txtgreateview mx-3">Great View</p>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="shieldimg">
            <img src="assets/Image/hygiene.png" height="50" width="50" alt="">
            <p class="txtshield">Hygiene Plus</p>
          </div>
        </div>
      </div>
    </div>

    <div class="facilities">
      <h3 class="headingfacilities">Facilities</h3>
      <div class="row justify-content-center my-5 mx-3">
        <div *ngFor="let amenity of amenities" class="checkimg col-lg-3 col-md-4 col-sm-6 col-12 mx-5">
          <div class="row">
            <div class="col-3">
              <i class="fa-regular fa-circle-check fa-2x check"></i>
            </div>
            <div class="col-9">
              <p class="txtblcycle">{{ amenity }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="row mx-1" id="date-view">
        <div class="txtdate col-lg-4 col-md-4 col-sm-6 col-xm-6 d-flex justify-content-center my-3">From :
          {{check_in_date| date:'dd/MM/yyyy'}}</div>
        <div class="txtdate col-md-4 col-sm-6 col-xm-6 col-lg-4 d-flex justify-content-center my-3">To :
          {{check_out_date|
          date:'dd/MM/yyyy'}}</div>
        <div class="txtchange col-md-4 col-sm-12 col-xm-12 col-lg-4  my-3" (click)="change()">change</div>
      </div>
      <div class="book py-3">
        <button class="txtbook btn btn-outline-dark"> {{totalCapacity}} Available Room </button>
        <button class="txtbook btn-outline-success btn px-5" (click)="booknow()">Book Now </button>
      </div>
    </div>



  </div>