
.resort-details-page{
  background-color: #e6e6ff;
  font-family: Roboto;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.link {
  border: 1px solid rgba(170, 170, 170, 0.801);
  border-radius: 50%;
  padding: 8px;
  background-color: rgba(170, 170, 170, 0.801);
  position: absolute;
  top: 10px;
  left: 10px;
}

.img-fluid {
  width: 100%; 
  height: auto; 
  z-index: 0; 
}

.square-box {
  width: 350px;
  height: 100px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  background-color: white;
  position: absolute; 
  top: 360px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1; 
}

.square-box p {
  margin: 9px;
  padding-top: 10px;
  font-weight: bold;
  font-family: Roboto;
}
.container2{
  margin: 30px;

}
iframe {
   border: 2px solid black;
}

.resortname{
  font-family: Roboto;

}

.photo-container {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
  padding: 6px;
}

.photo-container img {
  display: inline-block;
  width: 150px;
  height: auto;
  margin-right: 10px;
  border-radius: 8px;
}


  .background{
    background-color:  #e6e6ff;
  }
  .container2{
    margin: 30px;
  }
  .starcontainer{
    display: block;
  }
  .star{
    color: gold;
  }
  .reviewtext{
    margin: 8px;
    display: inline-block;
    font-family: Roboto;

  }
  .locationcontainer{
    display: block;
  }
  .location{
    color: gray;
  }
  .locationtext{
    margin: 8px;
    display: inline-block;
    font-family: Roboto;

  }
  .bedcontainer, .bathcontainer, .wificontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bed, .bath, .wifi {
    margin-right: 10px;
    border: 2px solid white;
    padding: 25px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -4px 4px 4px 3px rgba(1, 1, 1, 0.1);
  }
  
  .txtbed, .txtwifi, .txtbath {
    margin: 15px;
    font-size: 20px;
    font-family: Roboto;
  }

  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .bedcontainer, .bathcontainer, .wificontainer {
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
    }
  }
  .overviewcontainer{
    margin: 30px;
    font-family: Roboto;

  }
  .txtoverview{
    text-align: justify;
    font-family: Roboto;

  }
.headinghigh {
  margin: 30px;
  font-family: Roboto;
}

.sun, .shield {
  color: black;
  margin-right: 15px;
}

.imagesforhighlights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.montainimg, .shieldimg {
  margin: 10px;
  display: inline-flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  box-shadow: -4px 4px 4px 3px rgba(1, 1, 1, 0.1);
  text-align: center; 
}

.txtgreateview, .txtshield {
  font-size: 20px;
  margin: 0;
  font-family: Roboto;
}

  .check {
    color: green;
  }

  .checkimg {
    background-color: #d3d3f1;
    width: max-content;
    border: 2px solid #d1d1ff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; 
    box-shadow: -4px 4px 4px 3px rgba(1, 1, 1, 0.1);
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.txtblcycle {
    margin: 0; 
    text-align: center; 
    font-weight: 500;
}

.fa-2xl {
    font-size: 2em;
    line-height: 1.03125em;
}

.headingfacilities{
  margin: 30px;
  font-family: Roboto;
}  
.fa-2xl {
  font-size: 2em;
  line-height: 1.03125em;
}

  .txtdate, .txtchange {
    display: inline-flex;
    font-family: Roboto;
    width: auto;

  }

  #date-view
  {
    display: flex;
    justify-content: center;
  }
  .txtchange{
    color: rgb(78, 78, 235);
    cursor: pointer;

  }
  
  .book{
    position: sticky;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
 .txtbook{
    border-radius: 4px;
    padding: 15px;
    font-family: Roboto;
  }

  .con {
    position: sticky;
    bottom: 0px;
    width: 100%; 
    background-color: white; 
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    margin-bottom: 10px;
  }
    
  .square-box {
    width: -webkit-fill-available;
    height: 100px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex; 

  }
  
  .square-box p {
    margin: 0;
   padding: 10px;
    font-weight: bold;
  
  }
  .photo-container::-webkit-scrollbar {
    display: none; 
  }
  .photo-container {
    flex: 1; 
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px; 
  }
  
  .photo-container img {
    display: inline-block;
    width: 150px;
    height: auto;
    margin-right: 10px;
    border-radius: 8px;
  }

#google-map
{
  height: 200px;
  width: 300px;
  border: 0px;
}

