<app-navbar></app-navbar>

  <div class="row p-4">
    <div class="card col-md-4 mb-3 border-0" (click)="navigateToResort()" id="card">
      <img class="card-img"  src="assets/Image/Resort_image.jpg" alt="Image">
      <div class="card-img-overlay d-flex flex-column justify-content-end"> 
        <div class="card-text" id="text">Resort Booking</div>  
     </div>
    </div>
  
    <div class="card col-md-4 mb-3 border-0" (click)="navigateToResort()" id="card">
      
      <img class="card-img-top" src="assets/Image/Resort_image.jpg" alt="Image">
      <div class="card-img-overlay  d-flex flex-column justify-content-end"> 
        <div class="card-text" id="text">Resort Booking</div>  
     </div>  
    </div>
  
    <div class="card col-md-4 mb-3 border-0 justify-content-around" (click)="navigateToResort()" id="card">
  
      <img class="card-img-top" src="assets/Image/Resort_image.jpg" alt="Image">
      <div class="card-img-overlay  d-flex flex-column justify-content-end"> 
        <div class="card-text" id="text">Resort Booking</div>  
     </div>  
    </div>
  </div>
  
 

