.container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    text-align: center;
    margin-top: -20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
}
.paragraph {
    margin-bottom: 20px;
    text-align: justify;
    text-align: center;
    color: gray;
}
form {
    display: flex;
    flex-direction: column;
}
fieldset {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}
legend {
    margin-bottom: 5px;
    font-weight:bold;
    padding-left: 20px;
    color:gray;
}
input[type="text"],
input[type="password"] {
    border: none;
    padding: 5px;
    padding-left: 40px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}
 
.icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #007bff;
}
 
.button {
    padding: 15px;
    background-color: #52225a;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.para {
    margin-top: 30px;
    color: gray;
}
p {
    text-align: center;
}
p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
p a:hover {
    text-decoration: underline;
}
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}