.head {
  background-color: black;
  height:max-content;
  color: white;
}

input[type="text"] {
  border: none;
  outline: none;
  color: black;
}


section {
  border: 2px solid;
  border-radius: 10px;
  padding: 1em;
  width: 249px;
  margin-left: 30px;
  padding-bottom: 0;
}

section h2 {
  float: left;
  margin: -1.7em 0 0;
  padding: 0 .5em;
  background: #fff;
  font-size: 1em;
  font-weight: normal;
}

#searchBox {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

#icon {
  display: flex;
  align-items: center;
}

.example-full-widt
{
  width: auto;
  background-color: #fff;
  outline: none;
}
#person-type {
  width: auto;
  color: aqua;
  font-weight: bolder;
  border: 2px solid aqua;
}

#search-box {
  display: flex;
  justify-content: center;
}

#search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: aliceblue;
  width: max-content;
  border-radius: 10px;

}
.mat-form-field {
  background-color: white;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important ;
}
::ng-deep div.mat-mdc-autocomplete-panel{
  background-color: #48ad16 ;

}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: rgb(0 0 0 / 87%) !important;;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(0 0 0 / 87%) !important;
}

#search-input
{
  display: flex; 
  align-items: center;
  justify-content: center;
}


::ng-deep .mat-mdc-option
.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple)
{
  background-color: white;
  color: black;
}

::ng-deep .mat-mdc-option.mdc-list-item
{
  align-items: center;
    background-color: white;
    color: black;
}
#mat-autocomplete
{
  background-color: white;
}

.user-id {
  display: none;
}

.initials {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 37px;
  background-color: #bb02db;
  color: white;
  border-radius: 100px;
}
