
<div class="add-employee">
  <div class="head">
    <h2 class="text-center py-4">Add Employee </h2>
  </div>
  <div class="container">
    <div id="search-input">
      <form class="example-form my-3" [formGroup]="employees">
        <section>
          <h2>Search employee</h2>
          <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="username" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                <span class="username">{{ option.username }}</span>
                <span class="user-id" style="display: none;">(ID: {{ option.user_id }})</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </section>
      </form>
      <div class="mx-3">
        <i class="fa-solid fa-square-plus" style="font-size:50px;" (click)="addEmployee(selectedUserId)"></i>
      </div>
    </div>
  </div>

  <div class="my-3" id="search-box">
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-4 mb-3 mx-3" id="search-result" *ngFor="let employe of employee">
        <div class="card">
          <div class="card-body">
            <div class="icon text-center">
              <i class="fa-regular fa-id-badge fs-1"></i>
            </div>

            <div>
              <div class="name text-center">
                <div class="fw-bold">{{ employe.username }}</div>
              </div>


              <div class="m-1 text-center">
                <div class="fw-light">{{ employe.phone_number }}</div>
              </div>

              <div class="border rounded-pill text-center" id="person-type">
                <div class="fw-light">{{ employe.type }}</div>
              </div>


            </div>
            <div class="text-center mt-3" id="edit-icon">
              <i class="fa-regular fa-trash-can text-danger" (click)="removeEmployee(employe.user_id)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-success mx-3" (click)="save()">SAVE</button>
    <button class="btn btn-success mx-3" (click)="back()">BACK</button>
  </div>
</div>