<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div>
        <img src="assets/Image/claysys-logo.png" class="logo" alt="">
    </div>

    <div>
        <img src="assets/Image/IMGL1538_1_-removebg-removebg-preview.jpg" class="userimage" height="100px" width="100px" alt="">
    </div>

    <div class="textcontainer">
        <div class="line"></div>
        <div class="text1">Settings</div>
        <div class="line"></div>
        <div class="text2">Booking Details</div>
        <div class="line"></div>
        <div class="text3" (click)="Logout()" >Logout</div>
        <div class="line"></div>
    </div>

    <footer class="footer">
        <div>&copy;copyright all rights reserved</div>
    </footer>
</body>
</html>