

.readonly-toggle {
  pointer-events: none;
}

input[type="text"] {
  border: none;
  outline: none;
  color: black;
  width: 50%;
}

section {
  border: 2px solid;
  border-radius: 10px;
  padding: 1em;
  width: 90%;
  margin-left: 30px;

}

section h2 {
  float: left;
  margin: -1.7em 0 0;
  padding: 0 .5em;
  background: #fff;
  font-size: 1em;
  font-weight: normal;
  color: black;
}

#update_booking_page {
  color: white;
  background-color: black;
}

#room-details,
#room-members {
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 1;
  padding: 10px;
}

#person-type {
  width: auto;
  color: aqua;
  font-weight: bolder;
  border: 2px solid aqua;
}

.border-primary {
  border-color: purple;
  color: purple;
}


.initials {
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  text-transform: uppercase;
}


.mat-button-toggle-group .mat-button-toggle-checked {
  background-color: white;
  color: black;
}


.border-primary {
  border-color:purple;
  color: purple;
}

#date-change{
  display: flex;
  justify-content: center;
  align-items: center;
}

#person-type {
  border-radius: 10px;
}

#edit-icon {
  display: flex;
  align-items: center;
}
