<div id="update_booking_page">



<div class="py-3 ">
  <h2 class="text-center">{{resort_name}}</h2>
</div>
    


  <div class="container">
    <form [formGroup]="bookingUpdate">
      <div class="row">

        <div class="col-md-6">

          <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
              <section id="LastName" class="my-3">
                <h2>Checkin & Checkout</h2>
                <div class="d-flex align-items-center">
                  <span class="icon mx-1"><i class="fa-solid fa-calendar-day"></i></span>
                  <input class="form-control mx-2" readonly formControlName="check_in_date" placeholder="Checkin">
                  <input class="form-control" readonly formControlName="check_out_date" placeholder="Checkout">
                </div>
              </section>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" id="date-change">
              <div class="fs-4"  #tooltip="matTooltip" matTooltipPosition="right" matTooltip="Adjusting your check-in does not ensure the retention of your current resort">
                <i class="fa-solid fa-rotate" (click)="changeCheckinout()"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 px-5 p-4">
          Food Choice
          <mat-button-toggle-group class="mx-3" formControlName="food_choice">
            <mat-button-toggle value="veg">Veg</mat-button-toggle>
            <mat-button-toggle value="non-veg">Non-veg</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
  
      </div>
    </form>
  
  </div>
  
    
      
<div class="container">
  <div class="row">
    <div class="col-md-6 p-5">
      <div class="row">
        <h4 class="col-md-6 text-center">
          Room details ({{booking_details?.room_count || room_count}})
        </h4>
        <div class="col-md-6 fs-4">
          <i class="fa-solid fa-house-chimney-medical" (click)="addRoom()"></i>
        </div>
  
      </div>
  
      <div>
  
      </div>
      <div id="room-details" class="container rounded my-3">
        <div *ngFor="let room of bookedRoomsArray" class="row w-0 m-3 border-bottom p-3">
  
          <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2 text-center" id="iconbackground">
            <i class="fa-solid fa-bed fa-2x check text-center"></i>
          </div>
  
          <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2 text-center">
            <div class=" text-center fw-bold">{{ room.name }}</div>
            <div>{{ room.description }}</div>
          </div>
  
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="iconbackground">
            <div class="text-center fw-bold">{{ room.room_type_count }}</div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 fs-5 text-center">
            <i class="fa-regular fa-trash-can text-danger" (click)="removeRoom(room.room_type_id)"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6 p-5">
      <div class="row">
        <h4 class="col-md-6 text-center">
          Person details ({{ booking_details?.member_count || total_member_count }})
        </h4>
        <div class="fs-4 col-md-6">
          <i class="fa-solid fa-user-plus text-white" (click)="addMember()"></i>
        </div>
      </div>
     

      <div id="room-members" class="container rounded my-3">
        <div *ngFor="let guest of totalList" class="row border-bottom p-3 ">

          <div class="icon col-md-4 col-lg-4 col-sm-4 text-center">
            <div class="initials" [style.background-color]="getInitials(guest.first_name, guest.last_name).backgroundColor"  >
              {{ getInitials(guest.first_name, guest.last_name).initials }}
            </div>
          </div>

          <div class=" col-md-6 col-lg-6 col-sm-6">
            <div class="name">
              <div class="fw-bold">{{guest.first_name}} {{guest.last_name}} {{guest.username}}</div>
            </div>

            <div class="row">
              <div class=" col-md-6 col-lg-6 col-sm-6 ">
                <div class="fw-light">{{guest.phone_number }}</div>
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border rounded-pill m-1" id="person-type">
                <div class="fw-bold" style="{{ guest.guest_user_id ? 'color: purple;' : '' }}">
                  {{ guest.guest_user_id ? 'Guest' : 'Employee' }}
                </div>
              </div>
              
            </div>
          </div>

          <div class="col-md-2 col-lg-2 col-sm-2 fs-5">
            <i class="fa-regular fa-trash-can text-danger" (click)="removeMember(guest.guest_user_id || guest.user_id )"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
 
<div class="text-center  pb-5">
  
  <button class="btn btn-outline-light" (click)="update()" [disabled]="bookingUpdate.invalid">Update</button>
  <button class="btn btn-outline-light mx-3" (click)="back()" [disabled]="bookingUpdate.invalid">Back</button>

</div>

</div>

