<app-navbar></app-navbar>
<hr/>
<div class="page">

    <div class="datePicker">
        <mat-date-range-input [formGroup]="range"  [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">  
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>   
          <mat-datepicker-toggle matIconPreffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>          
    </div>    

  
 
    <div class="container">
        <div class="card-container" >
            <div class="card" *ngFor="let resort of resortlist">
                <div class="image-container">
                    <img class="resort-image" [src]="resort.image_urls" alt="Resort Image">
                    <h3 class="resort-name">{{resort.name}}</h3>
                    <h5 class="resort-location">
                        <i class="fa-solid fa-location-dot location"></i>
                        {{resort.location}}
                        <span class="arrow-icon" (click)="nextpage()"><i class="fa-solid fa-arrow-right"></i></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>