<h4 class="text-center">Resort Booking</h4>
<div class="row p-5">
    <div class="col-md-4 mb-3" *ngFor="let data of Bookings_list; let i = index">
        <div class="card border border-primary h-auto">
            <img [src]="resortimage[i]" class="card-img-top" height="100px" width="100px" alt="Resort Image">
            <div class="card-body">
                <h5 class="card-title">{{ data.resort_name }}</h5>
                <p class="card-text">Username: {{ data.username }}</p>
                <p class="card-text">Check-in Date: {{ data.check_in_date | date:'dd/MM/yyyy' }}</p>
                <p class="card-text">Check-out Date: {{ data.check_out_date | date:'dd/MM/yyyy' }}</p>
                <form [formGroup]="value" class="row">
                        <div class="col-6 mb-2">
                        <select class="form-control" (change)="selectt($event)">
                            <option value="">Choose approver</option>
                            <option *ngFor="let appr of approver" [value]="appr.user_id">{{ appr.username }}
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success btn-block" (click)="onchange(data.booking_id)">Change
                            Approver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
