<div class="container1" >
    <div class="headcontainer">
      <div class="cancelicon" (click)="BackToResort()">
        <i class="fa-solid fa-xmark fa-lg cancel"></i>
    </div>
    
        <div class="heading">
            <h3 class="text-center m-3">Add Employee</h3>
        </div>
    </div>
</div>

<div class="bodycontainer">
    <div class="row1">
        <form action="" class="search-form"> 
            <fieldset>
                <legend>Search Employee</legend>
                <input type="text" id="searchEmployee" name="searchEmployee">
            </fieldset>
            <div class="plusebox">
                <div class="item">+</div>
            </div>
        </form>
    </div>
</div>

<div class="rectangle">
    <div class="logo">
        
    </div>
</div>