

nav a:hover {
    color: #005011;
}

#logo img {
    margin-left: 2px;
    height: 50px; 
    width: 100%; 
    vertical-align: middle; /* Align the logo vertically */
}


.navbar-nav li {
    margin-right: 30px; /* Add margin between list items */
}

.profilepicture{
   
    border-radius: 100%;
    
    
}
.house .bell{
    margin-top: 20px;

}



nav ul {
    list-style: none;
    display: flex;
    text-align: left;

}

nav {
   
    cursor: pointer;
}

#navbarNav {
    justify-content: end;
  
}
.navbar-nav
{
    align-items: center;
}

nav ul li,
nav a {
    text-align: center;
}


nav ul li:last-child {
    margin-right: 10px;
}


.nav-link {
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}
