<app-navbar></app-navbar>
<hr />
<div class="page">

    <div class="datePicker">

        <mat-form-field class="example-form-field" id="date-range-picker">
            <mat-label class="p-3" id="label-checkin">Check-in &nbsp;  -- &nbsp; Check-out</mat-label>
            <mat-date-range-input [formGroup]="rangevalue" [rangePicker]="rangePicker">
                <input class="p-1" matStartDate formControlName="check_in_date" placeholder="Start date" >
                <input matEndDate formControlName="check_out_date" placeholder="End date" >
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker panelClass="custom-datepicker datepickerOne" color="accent" #rangePicker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel (click)="clearDates()">CLEAR</button>
                    <button mat-raised-button color="primary" (click)="applyFilter()" matDateRangePickerApply>
                        <i class="fa-regular fa-circle-check mx-1"></i>APPLY FILTERS
                    </button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
        
    </div>



    <div class="card-container">
        <div class="card" *ngFor="let resort of resortlist" (click)="nextpage(resort.resort_id)">
            <div class="image-container">
                <img class="resort-image" [src]="resort.image_urls" alt="Resort Image">
                <h3 class="resort-name">{{ resort.name }}</h3>
                <h5 class="resort-location">
                    <i class="fa-solid fa-location-dot location"></i>
                    {{ resort.location }}
                    <span class="arrow-icon"><i class="fa-solid fa-arrow-right"></i></span>
                </h5>
            </div>
        </div>
    </div>
    
</div>