<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="background">
        <div class="icon">
            <i class="fa-regular fa-circle-check fa-2xl check"></i>
        </div>
        <h4 class="heading">Thank you for booking </h4>
        <p class="txtvisiting">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed nec dolor vel turpis sollicitudin semper. Integer id volutpat nisl.
            Vivamus sit amet luctus leo. Sed ultricies scelerisque arcu, sed placerat
            ipsum consequat id.Morbi dictum elit vitae arcu rutrum, non fermentum sapien tempor. Phasellus sem dolor,feugiat et eros ac, dictum gravida nulla. Donec rhoncus fringilla tellus In quis nisl sed odio rutrum venenatis
            nec vel magna.
          </p>
          <div class="btn-container">
            <button class="btn" (click)="GoToHome()">GO TO HOME</button>
        </div>
        </div>
</body>
</html>