.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-box {
  width: 400px;
  height: 100px;
  display: flex;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

}

img {
  width: 30%;
  height: auto;
}

.top {
  color: white;
  background-color: black;
  height: fit-content;
}


#addEmployeeBtn,
#addGuestBtn {
  background-color: #52225a;
  color: white;

}

#addButtons {
  display: flex;
  justify-content: center;

}

#person-type {
  width: auto;
  color: aqua;
  font-weight: bolder;
  border: 2px solid aqua;
}

#continue {
  height: 50px;
}

#continuebtn {
  font-size: large;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #ffffff;
  --mat-tab-header-disabled-ripple-color: rgb(213 14 14 / 50%);
  --mat-tab-header-pagination-icon-color: #fff;
  --mat-tab-header-inactive-label-text-color: rgb(255 255 255);
  --mat-tab-header-active-label-text-color: #ffffff;
  --mat-tab-header-active-ripple-color: #ffffff;
  --mat-tab-header-inactive-ripple-color: #ffffff;
  --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.952);
  --mat-tab-header-inactive-hover-label-text-color: rgb(255, 255, 255);
  --mat-tab-header-active-focus-label-text-color: #ffffff;
  --mat-tab-header-active-hover-label-text-color: #ffffff;
  --mat-tab-header-active-focus-indicator-color: #ffffff;
  --mat-tab-header-active-hover-indicator-color: #ffffff;

}

::ng-deep .mat-tab-label {
  background-color: black !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: white !important;
}

.text-container {
  flex: 1;
  padding: 10px;
}

.text-container p {
  margin: 0;
}

.resort-name {
  font-weight: bold;
}

.date-range,
.total-days {
  font-size: 14px;
  color: #666;
  font-weight: 600;
}

.container2 {
  display: flex;
  justify-content: space-around;
}

.txtguest {
  color: white;
  padding: 10px;
  font-weight: 500;

}

.txtroom {
  color: black;
  border: 10px solid #f5fffe;
  border-radius: 2px;
  background-color: #f2fcfb;
  padding: 4px;
  font-weight: 500;
}

.container {
  margin-top: -50px;
}

.rectangle-box {
  border: 2px solid black;
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.check {
  margin-right: 10px;
}

.text {
  margin-right: 10px;
}

.sub-text {
  margin-bottom: 15px;
}

#incrementBtn {
  width: 80px;
  font-weight: bolder;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #f2fcfb;
}

.value {
  margin: 0 10px;
}

.containerret {
  border: 2px solid black;
  border-radius: 4px;
  width: 60%;
  background-color: #f2fcfb;
  margin: 10px auto;
}

.icon,
.txtroo,
.incre {
  padding: 10px;
}
.decrement {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid black;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #dff7f5;
  font-weight: bold;
}

.increment {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #dff7f5;
  font-weight: bold;
}

.value {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 6.5px 10px;

}

.incre {
  display: flex;
  align-items: center;
  margin: 10px;
}

.incre {
  text-align: center;
}

.incre-row {
  display: flex;
  justify-content: flex-end;
}

.summary-box {
  display: flex;
  justify-content: end;
}

#edit-icon {
  display: flex;
  align-items: center;
}

#rules-list {
  list-style-type: none;
}
.border-primary {
  border-color:purple;
  color: purple;
}
