
<div class="resot-details-page">
  <div class="top p-5">

    <h4 class="text-center">Booking details</h4>

    <div class="justify-content-center my-5">
      <div class="container1">
        <div class="square-box">
          <img src="{{this.img}}" alt="Resort Image">
          <div class="text-container">
            <p class="resort-name">{{resortname}}</p>
            <p class="date-range">From: {{this.check_in_date| date:'dd/MM/yyyy'}} - To: {{this.check_out_date|
              date:'dd/MM/yyyy'}}</p>
            <p class="total-days">Total Days: {{ totalDays }}, Total Nights: {{ totalNights }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <mat-tab-group  #matTabGroup  mat-align-tabs="center">
      <mat-tab label="Room(s)" id="tab-label" class="mt-4">
        <div class="table-responsive p-4">
          <table class="table">
            <tbody>
              <tr *ngFor="let room of Room_details" class="m-3">
                <td>
                  <div class="icon-background d-flex justify-content-center">
                    <i class="fa-solid fa-bed fa-2x check"></i>
                  </div>
                </td>
                <td>
                  <div class="fw-bold text-center">{{ room.name }}</div>
                  <div class="text-center">{{ room.capacity }} {{ room.description }}</div>
                </td>
                <td>
                  <div class="d-flex border increment-btn">
                    <button class="btn btn-sm btn-light me-2 fw-bold" (click)="decrement(room.room_type_id)">
                      <i class="fa-solid fa-minus"></i>
                    </button>
                    <div class="d-flex align-items-center">{{ bookedRooms[room.room_type_id]?.count || 0 }}</div>
                    <button class="btn btn-sm btn-light ms-2 fw-bold"
                      (click)="increment(room.room_type_id, room.name, room.description,room.number_of_rooms,room.resort_id)">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="summary-box">
          <p>Total Rooms : &nbsp;</p>
          <p>{{ totalSelectedRooms }}</p>
        </div>
      </mat-tab>
      <mat-tab label="Guest" id="tab-label">

        <div class="row " id="addButtons">
          <button class="col-lg-6 col-md-6 col-sm-6  btn-sm btn m-3" routerLink="/user/Addemployee"
            id="addEmployeeBtn">
            ADD EMPLOYEE
          </button>
          <button class="col-lg-6 col-md-6 col-sm-6 btn-sm btn m-3" routerLink="/user/Addguest" id="addGuestBtn">
            ADD GUEST
          </button>
        </div>

        <div>
          <div class="table-responsive p-4" >
            <table class="table">
              <tbody>
                <tr *ngFor="let member of total_list" class="border-bottom">
                  <td>
                    <div class="icon text-center">
                      <div class="initials"
                        [style.background-color]="getInitials(member.first_name, member.last_name, member.username).backgroundColor">
                        {{ getInitials(member.first_name, member.last_name, member.username).initials }}
                      </div>
                    </div>
                  </td>
          
                  <td>
                    <div class="name ">
                      <div class="fw-bold">{{ member.first_name }} {{ member.last_name }} {{ member.username }}</div>
                      <div class="row">
                        <div class=" col-lg-6 col-md-6 col-sm-6">
                          <div class="fw-light">{{ member.phone_number }}</div>
                        </div>
  
                        <div *ngIf="!booking_id; else secondType" class=" col-lg-6 col-md-6 col-sm-6 border rounded-pill" id="person-type">
  
                          <div class="fw-bold" *ngIf="member.type === 'Guest'"
                            [ngClass]="{'border-primary': member.type === 'Guest'}">{{ member.type }}</div>
                          <div class="fw-bold" *ngIf="member.type !== 'Guest'">{{ member.type }} </div>
                        </div>

                        <ng-template #secondType>
                          <div class="col-md-6 col-lg-6 col-sm-6 border rounded-pill m-1" id="person-type">
                            <div class="fw-bold" style="{{ member.guest_user_id ? 'color: purple;' : '' }}">
                              {{ member.guest_user_id ? 'Guest' : 'Employee' }}
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="!booking_id; else secondEdit" class="member text-center" id="edit-icon">
                      <i [style.visibility]="member.type === 'Guest' ? 'visible' : 'hidden'" class="fa-regular fa-pen-to-square text-success mx-3" (click)="editGuest(member.guest_user_id)"></i>
                      <i class="fa-regular fa-trash-can text-danger" (click)="removeMember(member.user_id || member.guest_user_id, member.type)"></i>
                  </div>
                  
                    
                    <ng-template #secondEdit>
                      <div class="member text-center" id="edit-icon">
                        <i [style.visibility]="member.guest_user_id !== undefined  ? 'visible' : 'hidden'"  class="fa-regular fa-pen-to-square text-success mx-3" (click)="editGuest(member.guest_user_id)"></i>
                        <i class="fa-regular fa-trash-can text-danger" (click)="removeMember(member.guest_user_id || member.user_id)"></i>
                      </div>
                      
                    </ng-template>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row fw-bold m-4">
            <div class="col-md-4 col-lg-4  col-sm-4 col-xs-4 text-center" id="count-section"> {{employee_count}} Employee
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center" id="count-section">{{ guest_count }} Guest</div>
            <div class="col-md-4 col-lg-4  col-sm-4 col-xs-4 text-center" id="count-section">Total {{ total_count }}</div>
          </div>
        </div>
        
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">

          <strong>Rules</strong>
          <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dolorum porro laborum omnis placeat eum
            consequatur est exercitationem repudiandae maxime laudantium, veritatis itaque libero enim repellat cum at
            eligendi natus?
          </div>
          <div>
            <ul id="rules-list">
              <li>--Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, laborum. </li>
              <li>--Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, laborum. </li>
              <li>--Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, laborum. </li>
            </ul>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="bg-success text-white" id="continue">
    <div class="" (click)="next()" id="continuebtn">
      continue <i class="fa-solid fa-arrow-right-long mx-3" style="font-size: 20px;"></i>
    </div>
  </div>
</div>