<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
    <div class="container1" >
        <div class="headcontainer">
          <div class="cancelicon" (click)="BackToResort()">
            <i class="fa-solid fa-xmark fa-lg cancel"></i>
        </div>
        
            <div class="heading">
                <h3 class="text-center m-3">Add Guest</h3>
            </div>
        </div>

        <div class="bodycontainer">
            <form [formGroup]="Addguest" class="form" (ngSubmit)="save()">
                <fieldset>
                    <legend>FIRST NAME:</legend>
                    <div class="input-container">
                      <i class="fa-solid fa-user"></i>
                      <input type="text" id="fname" formControlName="Firstname">
                    </div>
                  </fieldset>

                  
                <fieldset>
                    <legend>LAST NAME:</legend>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="lname" formControlName="Lastname">
                  </fieldset>
                  <fieldset>
                    <legend>AGE:</legend>
                    <i class="fa-regular fa-calendar"></i>
                    <input type="text" id="age"formControlName="Age" >
                  </fieldset>
                  <fieldset>
                    <legend>SEX:</legend>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="sex" formControlName="Sex" >
                  </fieldset>
                  <fieldset>
                    <legend>PHONE NUMBER:</legend>
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" id="Pnumber" formControlName="Phonenumber">
                  </fieldset>
                  <fieldset>
                    <legend>ADDRESS:</legend>
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" id="address" formControlName="Address">
                  </fieldset>
                  <fieldset>
                    <legend>OFFCIAL ID CARD NO:</legend>
                    <i class="fa-solid fa-id-card"></i>
                    <input type="text" id="idcard" formControlName="Idcardnumber" >
                  </fieldset>
                  <fieldset>
                    <legend>OFFCIAL ID IMAGE URL:</legend>
                    <input type="file" id="img" accept="image/*" formControlName="Imageurl">
                  </fieldset>
                  <BUtton class="btn btn-success">SAVE & NEW</BUtton>
                  <BUTTon class="btn btn-success">SAVE</BUTTon>
            </form>

        </div>
    </div>
</body>
</html>
