<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Above Text</title>
</head>
<body>
<div class="row p-5">
  <div class="card col-md-4 border-0" id="card">
    <img class="card-img " src="assets/Image/Resort_image.jpg" alt="Image">
    <div class="card-img-overlay d-flex flex-column justify-content-end"> 
      <h5 class="card-text " id="text">Resort Booking</h5>  
   </div>  
  </div>

  <div class="card col-md-4 border-0" id="card">
    <img class="card-img-top" src="assets/Image/Resort_image.jpg" alt="Image">
    <div class="card-img-overlay  d-flex flex-column justify-content-end"> 
      <h5 class="card-text" id="text">Resort Booking</h5>  
   </div>  
  </div>

  <div class="card col-md-4 border-0 justify-content-around" id="card">
    <img class="card-img-top" src="assets/Image/Resort_image.jpg" alt="Image">
    <div class="card-img-overlay  d-flex flex-column justify-content-end"> 
      <h5 class="card-text" id="text">Resort Booking</h5>  
   </div>  
  </div>
</div>
 
</body>

</html>

