
  // .container {
  //   position: relative;
  //   width: 40%; 
  //   height: 200px; 
  //   border-radius: 20px;
  // }

  // .image {
  //   position: absolute;
  //   top: 3px;
  //   left: 0;
  //   width: 100%;
  //   height: auto;
  //   border-radius: 20px;

  // }

  // .text {
  //   position: relative;
  //   z-index: 1;
  //   text-align: center;
  //   padding-top: 20px;
  //   top: 140px;
  //   color: white; 
  //   font-size: 40px;
  //   font-weight: bold;
  //   font-family: Arial, sans-serif; 
  // }
  // .container2 {

  //   position: relative;
  //   width: 40%; 
  //   height: 200px; 
  //   border-radius: 20px;
  //   left: 45%;
  //   top: -200px;
  // }

  // .image2 {
  //   position: absolute;
  //   top: 3px;
  //   left: 0;
  //   width: 100%;
  //   height: auto;
  //   border-radius: 20px;

  // }

  // .text2 {
  //   position: relative;
  //   z-index: 1;
  //   text-align: center;
  //   padding-top: 20px;
  //   top: 140px;
  //   color: black; 
  //   font-size: 40px;
  //   font-weight: bold;
  //   font-family: Arial, sans-serif; 
  // }

#text{
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
